# Introdução ao  Python com Ciência de Dados
## Instituto Federal de Educação, Ciência e Tecnologia de São Paulo (IFSP) 
## Campus Birigui






Professores:
* Felipe Cavenaghi
* Rafael Stoffalette João

# Conexão com bancos de dados
## sqlite é a forma mais rápida e fácil de lidar com a persistência de dados


### https://www.tutorialspoint.com/sqlite/sqlite_installation.htm
### https://www.sqlite.org/download.html

In [1]:
#precisamos da biblioteca sqlite3
import sqlite3
conexao = sqlite3.connect('meudb_aula01.db')

In [3]:
#por meio de uma conexão com o bd, podemos criar um cursor 
#estrutura de controle que permite anvegar pelos registros em um banco de dados. 
cur = conexao.cursor()

In [4]:
#criar uma tabela é simplesmente executar um comando CREATE TABLE...
cur.execute("CREATE TABLE aulas (data text, assunto text, totAlunos int)")

In [5]:
# O comando execute (método) também é responsável por 
#Inserir conteúdo no banco de dados

cur.execute("INSERT INTO aulas VALUES ('2020-29-10','Introdução ao Python','20')")




#para efetivar a alteração, devemos utilizar o comando commit
conexao.commit()


resultado = cur.execute("SELECT * FROM aulas WHERE 1 ORDER BY data ASC")

for registro in resultado:
    print(registro)

('2020-29-10', 'Introdução ao Python', 20)

In [6]:
#para alterar uma tabela existente...

cur.execute("ALTER TABLE aulas ADD COLUMN local varchar(50)")

In [7]:
resultado = cur.execute("SELECT * FROM aulas WHERE 1 ORDER BY data ASC")

for registro in resultado:
    print(registro)

('2020-29-10', 'Introdução ao Python', 20, None)

In [8]:
#para alterar o conteúdo de um registro em uma tabela ...
cur.execute("Update aulas set local = 'remoto' where data = '2020-30-10'")
conexao.commit()

In [9]:

#resultado
resultado = cur.execute("SELECT * FROM aulas WHERE 1 ORDER BY data ASC")

for registro in resultado:
    print(registro)

('2020-29-10', 'Introdução ao Python', 20, None)

In [10]:
conexao.close() 
#Fecha essa conexão ativa